streamlit
python-dotenv
langchain
langchain-google-genai
langchain-huggingface
sentence-transformers 
langchain-community
langchain-chroma
langchain-text-splitters
transformers
torch
pypdf  
chromadb
pillow
PyMuPDF  # For comprehensive PDF extraction